// Declaramos el mixin on @mixin y luego agregamos los atributos

@mixin bordes($roundOne: 2px, $roundTwo: 4px){
	-moz-border-radius : 	$roundOne $roundTwo;
	-webkit-border-radius: 	$roundOne $roundTwo;
	-khtml-border-radius: 	$roundOne $roundTwo;
	-o-border-radius: 		$roundOne $roundTwo;
	border-radius: 			$roundOne $roundTwo;
	border: 				$roundOne $roundTwo;
}