#ajaxMan {
  color: #b9b9b9; }

#ajaxMan .boton {
  color: gainsboro; }

#container {
  color: #2466a8; }

#ajaxGirl {
  color: #454545; }

#ajax-girl {
  color: #454545; }

#colores {
  color: #333333; }

#colorines {
  color: #909090; }
