header {
  -moz-border-radius: 6px 4px;
  -webkit-border-radius: 6px 4px;
  -khtml-border-radius: 6px 4px;
  -o-border-radius: 6px 4px;
  border-radius: 6px 4px;
  border: 6px 4px; }

#cajaTexto {
  -moz-border-radius: 2px 4px;
  -webkit-border-radius: 2px 4px;
  -khtml-border-radius: 2px 4px;
  -o-border-radius: 2px 4px;
  border-radius: 2px 4px;
  border: 2px 4px; }

.banner {
  -moz-border-radius: 4px 11px;
  -webkit-border-radius: 4px 11px;
  -khtml-border-radius: 4px 11px;
  -o-border-radius: 4px 11px;
  border-radius: 4px 11px;
  border: 4px 11px; }
