/* line 2, ../../../primera-parte/colores.scss */
#ajaxMan { color: #b9b9b9; }

/* line 8, ../../../primera-parte/colores.scss */
#ajaxMan .boton { color: #dcdcdc; }

/* line 14, ../../../primera-parte/colores.scss */
#container { color: #2466a8; }

/* line 19, ../../../primera-parte/colores.scss */
#ajaxGirl { color: #454545; }

/* line 23, ../../../primera-parte/colores.scss */
#ajax-girl { color: #454545; }

/* line 27, ../../../primera-parte/colores.scss */
#colores { color: #333333; }

/* line 31, ../../../primera-parte/colores.scss */
#colorines { color: #909090; }
